<!DOCTYPE html>
<html lang="zxx">
  <!-- Mirrored from affixbankfx.com/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Apr 2022 14:59:04 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Aila" />
    <meta name="keywords" content="HTML,CSS,JavaScript" />
    <meta name="author" content="@stainlezzking" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>About Us - Temenos global</title>
    <link
      rel="icon"
      href="assets/images/favicon.png"
      type="image/png"
      sizes="16x16"
    />

    <link
      rel="stylesheet"
      href="assets/home/css/bootstrap.min.css"
      type="text/css"
      media="all"
    />

    <link
      rel="stylesheet"
      href="assets/home/css/animate.min.css"
      type="text/css"
      media="all"
    />

    <link
      rel="stylesheet"
      href="assets/home/css/owl.carousel.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="assets/home/css/owl.theme.default.min.css"
      type="text/css"
      media="all"
    />

    <link
      rel="stylesheet"
      href="assets/home/css/meanmenu.min.css"
      type="text/css"
      media="all"
    />

    <link
      rel="stylesheet"
      href="assets/home/css/magnific-popup.min.css"
      type="text/css"
      media="all"
    />

    <link
      rel="stylesheet"
      href="assets/home/css/boxicons.min.css"
      type="text/css"
      media="all"
    />

    <link
      rel="stylesheet"
      href="assets/home/css/line-awesome.min.css"
      type="text/css"
      media="all"
    />

    <link
      rel="stylesheet"
      href="assets/home/css/flaticon.css"
      type="text/css"
      media="all"
    />

    <link
      rel="stylesheet"
      href="assets/home/css/style.css"
      type="text/css"
      media="all"
    />

    <link
      rel="stylesheet"
      href="assets/home/css/responsive.css"
      type="text/css"
      media="all"
    />
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="preloader orange-gradient">
      <div class="preloader-wrapper">
        <div class="preloader-grid">
          <div class="preloader-grid-item preloader-grid-item-1"></div>
          <div class="preloader-grid-item preloader-grid-item-2"></div>
          <div class="preloader-grid-item preloader-grid-item-3"></div>
          <div class="preloader-grid-item preloader-grid-item-4"></div>
          <div class="preloader-grid-item preloader-grid-item-5"></div>
          <div class="preloader-grid-item preloader-grid-item-6"></div>
          <div class="preloader-grid-item preloader-grid-item-7"></div>
          <div class="preloader-grid-item preloader-grid-item-8"></div>
          <div class="preloader-grid-item preloader-grid-item-9"></div>
        </div>
      </div>
    </div>

   <%- include('./home-partials/navLink.ejs') -%>
      <!-- style="background: linear-gradient(90deg, #0856e6 0%, #2f74f4 100%)" -->
    <header
      class="page-title page-bg"
      style="background: linear-gradient(90deg,#f20f10 0%,#ec600d 100%)"
    >
      <div class="logo-bg-icon">
        <div class="logo-bg-item">
          <img src="assets/home/images/circle.png" alt="icon" />
        </div>
        <div class="logo-bg-item">
          <img src="assets/home/images/square.png" alt="icon" />
        </div>
      </div>
      <div class="container">
        <div class="page-title-inner">
          <div class="section-title">
            <h1>About us</h1>
            <ul class="page-breadcrumbs">
              <li><a href="/">Home</a></li>
              <li>About us</li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <section style="margin-top: 3rem" class="video-section pt-100 pb-70">
      <div class="container">
        <div class="home-facility-content">
          <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-6 order-lg-2">
              <div class="about-page-item pb-30">
                <div
                  class="about-img ml-20 overflow-hidden border-radius-5 img-shadow"
                >
                  <img src="assets/home/images/home-facility-bg-3.png" alt="about" />
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 order-lg-1">
              <div class="about-page-item pb-30">
                <div class="home-service-start">
                  <h2>About Temenos global</h2>
                  <p>
                    We are Professional Traders & Portfolio Managers who return
                    profit to investors, guaranteed and Regulated by the
                    Securities and Exchange Commission. We offer optimum trading
                    service that is capable of delivering profit on invested
                    funds. We Trade on a Wide Range of Assets,home/ Cryptos, Fx
                    Options & Commodities.
                  </p>
                  <p>
                    Affix Bank FX is a financial business platform developed
                    under the control of an experienced team of highly qualified
                    financial experts and professional traders for private
                    highly profitable online investments. By providing access to
                    new and innovative financial investment strategies that
                    enhance long-term commercial benefits. Affix Bank FX intends
                    to fulfill each client’s individual business requirements.
                    We provide exemplary service to our clients throughout this
                    process and aim to deliver a superior rate of return to our
                    investors and partners.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="retail-section-bg worker-section">
      <div class="container">
        <div class="home-about-content">
          <div class="worker-section-shape">
            <div class="worker-shape-item">
              <img src="assets/home/images/worker-vector.png" alt="icon" />
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-sm-12  pb-30">
              <div class="home-service-start">
                <h2> Executive Committee</h2>
                <p>
                  For an Internet-based marketplace with clearly defined and
                  efficient processes, the personal relationship is often not a
                  key priority. Nevertheless, we want to inspire and surprise
                  our customers through professional, friendly and cooperative
                  communication. We achieve this also through employees who can
                  choose for themselves, when, where, what and how they work
                  without having to bring their private life into the company.
                </p>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="row ">
                <div
                  class="col-sm-12 col-md-6 col-lg-6 worker-grid-item fluid-height"
                >
                  <div
                    class="worker-grid-content overflow-hidden border-radius-5"
                  >
                    <div style="height: 300px" class="worker-content-img">
                      <img
                        style="height: 300px"
                        src="assets/home/images/headshot-max-chuard.jpg"
                        alt="worker"
                      />
                    </div>
                    <div class="worker-content-layout">
                      <h3 class="client-caption-title">Max Chuad</h3>
                      <h4 class="client-caption-designation">CEO</h4>
                    </div>
                  </div>
                </div>
                <div
                  class="col-sm-12 col-md-6 col-lg-6 worker-grid-item fluid-height"
                >
                  <div
                    class="worker-grid-content overflow-hidden border-radius-5"
                  >
                    <div class="worker-content-img">
                      <img src="assets/home/images/Martin-Haering.jpg" alt="worker" />
                    </div>
                    <div class="worker-content-layout">
                      <h3 class="client-caption-title">  Martin Häring</h3>
                      <h4 class="client-caption-designation"> Cheif Marketing officer</h4>
                    </div>
                  </div>
                </div>
                <div
                  class="col-sm-12 col-md-6 col-lg-6 worker-grid-item fluid-height"
                >
                  <div
                    class="worker-grid-content overflow-hidden border-radius-5"
                  >
                    <div class="worker-content-img">
                      <img src="assets/home/images/Prema-Headshot 768x432.jpg" alt="worker" />
                    </div>
                    <div class="worker-content-layout">
                      <h3 class="client-caption-title">Prema Varadhan</h3>
                      <h4 class="client-caption-designation">
                        Chief Product and Technology Officer
                      </h4>
                    </div>
                  </div>
                </div>
                <div
                  class="col-sm-12 col-md-6 col-lg-6 worker-grid-item fluid-height"
                >
                  <div
                    class="worker-grid-content overflow-hidden border-radius-5"
                  >
                    <div class="worker-content-img">
                      <img src="assets/home/images/takis.jpg" alt="worker" />
                    </div>
                    <div class="worker-content-layout">
                      <h3 class="client-caption-title">Takis Spiliopoulos</h3>
                      <h4 class="client-caption-designation">
                        Cheif financial officer
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="worker-section ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-12  pb-30">
                  <div class="home-service-start">
                    <h2>  Top Brokers</h2>
                    <p>
                      For an Internet-based marketplace with clearly defined and
                      efficient processes, the personal relationship is often not a
                      key priority. Nevertheless, we want to inspire and surprise
                      our customers through professional, friendly and cooperative
                      communication. We achieve this also through employees who can
                      choose for themselves, when, where, what and how they work
                      without having to bring their private life into the company.
                    </p>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row ">
                    <div
                      class="col-sm-12 col-md-6 col-lg-6 worker-grid-item fluid-height"
                    >
                      <div
                        class="worker-grid-content overflow-hidden border-radius-5"
                      >
                        <div style="height: 300px" class="worker-content-img">
                          <img
                            style="height: 300px"
                            src="assets/home/images/headshot-max-chuard.jpg"
                            alt="worker"
                          />
                        </div>
                        <div class="worker-content-layout">
                          <h3 class="client-caption-title">Max Chuad</h3>
                          <h4 class="client-caption-designation">CEO</h4>
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-sm-12 col-md-6 col-lg-6 worker-grid-item fluid-height"
                    >
                      <div
                        class="worker-grid-content overflow-hidden border-radius-5"
                      >
                        <div class="worker-content-img">
                          <img src="assets/home/images/Martin-Haering.jpg" alt="worker" />
                        </div>
                        <div class="worker-content-layout">
                          <h3 class="client-caption-title">  Martin Häring</h3>
                          <h4 class="client-caption-designation"> Cheif Marketing officer</h4>
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-sm-12 col-md-6 col-lg-6 worker-grid-item fluid-height"
                    >
                      <div
                        class="worker-grid-content overflow-hidden border-radius-5"
                      >
                        <div class="worker-content-img">
                          <img src="assets/home/images/Prema-Headshot 768x432.jpg" alt="worker" />
                        </div>
                        <div class="worker-content-layout">
                          <h3 class="client-caption-title">Prema Varadhan</h3>
                          <h4 class="client-caption-designation">
                            Chief Product and Technology Officer
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-sm-12 col-md-6 col-lg-6 worker-grid-item fluid-height"
                    >
                      <div
                        class="worker-grid-content overflow-hidden border-radius-5"
                      >
                        <div class="worker-content-img">
                          <img src="assets/home/images/takis.jpg" alt="worker" />
                        </div>
                        <div class="worker-content-layout">
                          <h3 class="client-caption-title">Takis Spiliopoulos</h3>
                          <h4 class="client-caption-designation">
                            Cheif financial officer
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>

    <!-- <div class="counter-middle-section about-logo-section">
      <div class="container">
        <div class="about-logo-content">
          <div class="home-logo-item">
            <a href="#"><img src="assets/home/images/logo-3.svg" alt="logo" /></a>
          </div>
          <div class="home-logo-item">
            <a href="#"><img src="assets/home/images/logo-6.svg" alt="logo" /></a>
          </div>
          <div class="home-logo-item">
            <a href="#"><img src="assets/home/images/logo-5.svg" alt="logo" /></a>
          </div>
          <div class="home-logo-item">
            <a href="#"><img src="assets/home/images/logo-1.svg" alt="logo" /></a>
          </div>
          <div class="home-logo-item">
            <a href="#"><img src="assets/home/images/logo-4.svg" alt="logo" /></a>
          </div>
          <div class="home-logo-item">
            <a href="#"><img src="assets/home/images/logo-2.svg" alt="logo" /></a>
          </div>
        </div>
      </div>
    </div> -->

    <section class="review-section about-download-section">
      <div class="container">
        <div class="home-download-content about-download-content">
          <div class="row align-items-center"></div>
        </div>
      </div>
    </section>
    <%- include('./home-partials/footer.ejs') -%>
  </body>

</html>
